<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>

    </div>
    <div>
        <mat-card class="example-card" appearance="outlined"  [routerLink]="['/product-details']" [queryParams]="{id: '24'}">
            <div style="background-color: aliceblue; width: 391px;">
                <img mat-card-image src="https://m.media-amazon.com/images/I/71w-mmKgIfL._SX679_.jpg" style="align-items: center;width: 350px;"
                    alt="Photo of a Mobile">
            </div>
            <mat-card-content>
                <b>
                    realme NARZO 70x 5G (Ice Blue, 6GB RAM,128GB Storage)|120Hz Ultra Smooth Display|Dimensity 6100+ 6nm
                    5G|50MP AI Camera|45W Charger in The Box
                </b>
                <div>
                    <fa-icon [icon]="rating" style="color: orange"></fa-icon>
                    <fa-icon [icon]="rating" style="color: orange"></fa-icon>
                    <fa-icon [icon]="rating" style="color: orange"></fa-icon>
                    <fa-icon [icon]="rating" style="color: orange"></fa-icon>
                    <fa-icon [icon]="halfRating" style="color: orange"></fa-icon>
                </div>
                <div>
                    <fa-icon [icon]="Rupee"></fa-icon> <span style="font-size: xx-large;">9999</span>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>

    </div>

</mat-drawer-container>
